@font-face {
  font-family: 'Black Chancery';
  src: url('fonts/BLKCHCRY.TTF') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

* {
    font-family: 'Crete Round', serif;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(img/pink-gingham.jpg);
    background-size: 100%;
    width: 80%;
    margin: auto;
}

.centerContent {
    background-image: linear-gradient(rgba(240,240,240,1),rgba(240,240,240,0)), url("img/background.png");
    margin-left: -22%;
    margin-right: -22%;
    padding:0;
}

header{
    margin-left: 22%;
    margin-right: 22%;
}

nav {

}

.nav-link {
    color: black;
    text-decoration: none;
    vertical-align: top;
    text-align: center;
    display: inline-block;
    width: 15%;
    margin-top: .7em;
}

.nav-link:hover {
    color: pink;
}

.current-page {
    color: hotpink;
}

nav .icon {
    display: none;
    color: black;
    font-size: xx-large;
    text-decoration: none;
    vertical-align: top;
    text-align: center;
    margin-top: .7em;
}

nav .icon:hover {
    color: pink;
}

@media screen and (max-width: 1100px) {
  .navBar.responsive {position: relative;}

  .navBar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
    
  .navBar a:not(:first-child) {display: none;}
  .navBar a.icon {
    display: inline-block;
  }
}

.logo-schriftzug {
    display: inline-block;
}

.logo {
    display: inline-block;
    height: 20em;
    vertical-align: middle;
    margin-right: 2em;
    margin-left: 3em;
}

.title {
    display:inline-block;   
    position: relative;
    height: 5em;
    vertical-align: middle;
    margin-right: 3em;
}

.name {
    font-size: x-large;
}

.contact-details {
    font-size: large;
}

.atelier {
    font-family: 'Black Chancery', sans-serif;
    font-size: 1.5em;
}

.social-media-link {
    display: inline-block;
    margin: 1em 0 0 1em;
    width: 2em;
}

.socialMediaButton {
    height: 2.3em;
}

@media screen and (max-width: 1100px) {
    .logo-schriftzug .name {
        width: 100%;
        text-align: center;
    }
    
    .logo {
        margin:auto;
    }
    .contact-details {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 700px) {
    .name {
        width: 100%;
        text-align: center;
    }
    
    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.slide-show {
    width: 40rem;
    display: none;
}

.port-item {
	margin: 0;
	position: relative;
}

.menu {
    margin-left: 3em;
}

.menu-item {
    display: inline-block;
    height: 15em;
    width: 33%;
    margin-top: 2em;
}

.menu-img {
    width: 15em;
    height: 12em;
    overflow: hidden;
    margin-top: 1em;
    border-radius:10px;
    border: 3.5px solid hotpink;
}

.menu-img img {
    width: 100%;
}

.button {
    display: inline-block;
    background-color: #a7abb2;
    text-decoration: none;
    font-size: large;
    color: white;
    padding: .5em;
    padding-right: .5em;
    border-radius:10px;
}

.temp {
    font-size: x-large;
    text-align: center;
}

footer {   
    flex-shrink: 0;
    height: 2em;
    width: 150%;
    position:fixed;
    bottom:0;
    background-color: darkslategray;
    margin-left: -22%;
    margin-right: -22%;
}

footer span {
    margin-left: 22%;
    color: #a7abb2;
}

footer a {
    text-decoration: none;
    color: inherit;
}