@font-face {
  font-family: 'Black Chancery';
  src: url('fonts/BLKCHCRY.TTF') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

* {
    font-family: 'Crete Round', serif;
}

html, body {
    margin: 0;
    padding: 0;
}

header{
    background-image: linear-gradient(rgba(240,240,240,1),rgba(240,240,240,0)), url("img/background.png");
}

header a {
    color: black;
    text-decoration: none;
    vertical-align: top;
    text-align: center;
    display: inline-block;
    width: 15%;
    margin-top: .7em;
}


header a:hover {
    color: hotpink;
}

body {
    background-image: url(img/pink-gingham.jpg);
    background-size: 100%;
}

nav {
    margin-left: 7%;
}

footer {
    margin-left: 3em;
}

.logo {
    display: inline-block;
    height: 20em;
    vertical-align: middle;
    margin-right: 2em;
    margin-left: 3em;
}

.title {
    display:inline-block;   
    position: relative;
    height: 5em;
    vertical-align: middle;
    margin-right: 3em;
}

.name {
    font-size: x-large;
}

.contact-details {
    font-size: large;
}

.atelier {
    font-family: 'Black Chancery', sans-serif;
    font-size: 1.5em;
}

.socialMediaButton {
    margin-left: 20%;
    height: 2.3em;
}

.slide-show {
    width: 40rem;
    display: none;
}

.port-item {
	margin: 0;
	position: relative;
}

.menu {
    margin-left: 3em;
}

.menu-item {
    display: inline-block;
    height: 15 em;
    width: 33%;
    margin-top: 1em;
}

.menu-item img {
    width: 18em;
    height: 18em; 
    margin: 2em 0;
}

.button {
    display: inline;
    background-color: #a7abb2;
    text-decoration: none;
    color: white;
    padding: .5em;
    padding-right: .5em;
    border-radius:10px;
}

.temp {
    font-size: x-large;
    text-align: center;
}